<!DOCTYPE html>
<html>
  <head>
    <style>
        body {
          font-size: 28px;
          text-align: center;
        }
        
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 0;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
        
        .active {
          background-color: #4CAF50;
        }
        </style>
        </head>
        <body>

        
        <ul>
          <li><a class="active" href="#">Image to Text</a></li>
          <li><a href="http://nutripal.tk/">Nutripal</a></li>
          <li><a href="https://milad-mehri.github.io/coronaoutbreaksvancouver/">Vancouver Covid Tracker</a></li>
        </ul>
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Image to Text</title>
  </head>
  <body>
      <h1>Image to Text</h1>
      <form action="/uploads" method = "POST" enctype="multipart/form-data">
        <input type ="file" name = "avatar" />
        <button type = "submit">convert</button>
    </form>
  </body>
</html>